@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
.release-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	line-height: 100px;
	background-color:#1FBFCB;
	overflow: hidden;
}
.release-header>ul{
	width: 340px;
    height: 58px;
    line-height: 58px;
	border-radius: 10px;
	border: 1px solid #fff;
	margin: 20px auto;
	display: flex;
	font-size: 1.5rem;
	overflow: hidden;
}
.release-header>ul li{
	flex-grow: 1;
	text-align: center;
	color: #fff;
}
.release-header>ul li:first-child{
	border-right: 1px solid #fff;
}
.release-box{
	width: 100%;
	height: 100px;
}
/* 身体部分 */
.release-body{
	width: 100%;
	height: 600px;
	margin-top: 300px;
}
.no_car{
	width: 100%;
	height: 196px;
	/*margin: 20px 0;*/
	background: url(../img/w.png) no-repeat 28px 0;
	-webkit-background-size: 150px 144px;
	background-size: 250px 200px;
}
.release-body>div:first-child{
	width: 40%;
	height: 220px;
	margin: 0 auto;
	text-align: center;
}
.release-body>div:last-child{
	width: 95%;
	height: 90px;
	margin: 50px auto;
	font-size: 1.4rem;
	background-color:#1FBFCB;
	color: #fff;
	line-height: 90px;
	text-align: center;
}
/* 点击变色 */
.release-header ul .click-show{
	background-color: #fff;
	color:#1FBFCB; 
}
/* 身份认证 */
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	line-height: 100px;
	background: #1FBFCB;
	color: white;
	font-size: 1.8rem;
}
nav img{
	position: relative;
    top: 7px;
    right: 7px;
	width: 24px;
    height: 36px;
}
nav span:nth-of-type(1){
	margin-left: 30px;
    display: inline-block;
    width: 100px;
    height: 50px;
    margin-top: 4px;
}
nav span:nth-of-type(2){
	margin-left: 90px;
}
nav span:nth-of-type(3){
	margin-right: 30px;
	float: right;
}
.company-box{
	width: 100%;
	height: 100px;
}
.company1-box{
	width: 100%;
	height: 100px;
}
.release-verification{
	width: 100%;
	height: 600px;
	margin-top: 50px;
}
.company-header>div:first-child{
	width: 1%;
}
.company-body ul,.company-body ul li{
	width: 100%;
	height: 100px;
	font-size: 1.3rem;
	color: #0A5055;
}
.company-body ul li:first-child{
	font-size: 1.28rem;
    height: 50px;
    line-height: 50px;
    background-color: #FADE8E;
    color: #DC493C;
    text-align: center;
}
.public{
	height: 40px;
	line-height: 40px;
	margin-top: 20px;
	font-size: 1.28rem;
	text-indent: 10px;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	background-color: #fff;
}
.public span:nth-of-type(1){
	display: inline-block;
	margin-left: 30px;
	margin-top: 30px;
}
.public span:nth-of-type(2){
	display: inline-block;
	margin-top: 30px;
	width: 27%;
	float: right;
}
/* 所属公司 */
.company1-body{
	width: 100%;
	min-height: 600px;
	background-color:#f5f5f5;
	overflow: hidden;
}
.company1-body ul{
	margin-top: 15px;
	height: 300px;
	font-size: 1.28rem;
	background-color: #fff;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.company1-body ul li{
	width: 95%;
	height: 100px;
	line-height: 100px;
	float: right;
}
.company1-body ul li:nth-of-type(1),.company1-body ul li:nth-of-type(2){
	border-bottom: 1px solid #e4e4e4;
}
.submin{
	float: left;
	width: 25%;
}
.company1-body ul li>input{
	width: 75%;
	height: 95%;
	text-indent: 20px;
	border: none;
	font-size: 0.9em;
}
.shang{
	margin-top: 20px;
    width: 100%;
    height: 100px;
    line-height: 100px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    background-color: #fff;
    text-indent: 15px;
    margin-bottom: 10px;
    font-size: 1.28rem
}
.shang span{
	float: right;
	margin-right: 20px;
}
.submit{
	width: 92%;
    height: 100px;
    line-height: 100px;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    background-color: #1FBFCB;
    color: #fff;
}
/* 车源所在地 */
.vehicle-header{
	display: flex;
} 
.vehicle-header div{
	flex-grow:1; 
	width: 0%;
	line-height: 100px;
	text-indent:46px;
	color: #fff;
	font-size: 1.8rem;
}
.vehicle-header div:nth-of-type(3){
	text-align: center;
}
.vehicle-body{
	width: 100%;
	min-height: 600px;
	overflow: hidden;
}
.vehicle-body ul{
	margin-top: 150px;
	height: 120px;
}
.vehicle-body ul li{
	width: 95%;
	height: 40px;
	background-color: red;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	float: right;
}
.vehicle-body ul .spcile{
	width: 100%;
	height: 100px;
	background-color: #fff;
}
.vehicle-body ul .spcile input{
	width: 100%;
	height: 100px;
	line-height: 100px;
	border: 0;
	text-indent:10px;
	font-size: 1.3rem;
}
.vehicle-body ul li:nth-of-type(2){
	width: 100%;
	height: 80px;
	text-indent: 10px;
	background-color: #ebeef5 ;
	color: #aaadb4;
	border-top: 0;
}
.vehicle-body ul li:nth-of-type(2) p{
	color: #aaadb4;
	padding-top: 10px;
	font-size: 1.2rem;
}
.vehicle-body>div{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #fff;
	border-bottom: 1px solid #D3D3D3;
}
.none_fei{
	background-color: #fff;
	border-bottom: 1px solid #D3D3D3;
	width: 95%;
	height: 70px;
	line-height: 70px;
	color: #0A5055;
	font-size: 1.5rem;
	text-indent: 30px;
}
.vehicle-body>div>div:last-child{
	border-bottom: 0;
}

